.button-30 {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    border: 1px solid white;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "Amsterdam Four";
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 16px;
    border-radius: 25px;
    width: 150px;
    font-weight: bold;
  }
  .responsive-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px; /* Ajoute de l'espace en bas de chaque image */
    margin-right: 10px; /* Ajoute de l'espace à droite de chaque image */
    margin-left: 10px; /* Ajoute de l'espace à gauche de chaque image */
  }
  .downloadbtn{
    margin-top: -100px;
    padding: 12px 45px;
    background-color: #FA8072;
    color: white;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #FA8072;
    outline: none;
  }
  
  .testimonial-item {
    background-color: #fff; /* Couleur de fond */
    border: 1px solid #ddd; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    margin-bottom: 20px; /* Marge en bas */
  }
  
  .testimonial-item p {
    font-size: 16px; /* Taille de la police du texte */
    line-height: 1.6; /* Hauteur de ligne */
  }
  
  .testimonial-item h5 {
    font-size: 18px; /* Taille de la police du titre */
    margin-bottom: 5px; /* Marge en bas */
  }
  
  .testimonial-item small {
    color: #777; /* Couleur du texte secondaire */
  }
  