@font-face {
    font-family: 'Amsterdam Four';
    src: url('../../assets/Amsterdam\ Four_ttf\ 400.ttf') format('truetype');
  }

.title {
    font-family: 'Amsterdam Four',sans-serif;
}

input[type="text"]::placeholder {
    /* Couleur de votre choix */
    color: #fff; /* Par exemple, gris clair */
    padding-left: 30px;

  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  /* Style pour le champ de saisie */
  .input-with-icon {
    position: relative;
  }
.header{
  
    width: 100%;
    max-width: 100%;
    text-align: left;
    height: 120vh;
    overflow: hidden;
    padding: 10px 0px;
    margin-top: 0px;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-size: cover;
}



.header h2{
    color: whitesmoke ;
    font-size: 55px;
    line-height: 60px;
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    width: 80%;
    margin-top: 20px;
    font-weight: 1000;
    min-height: 250px;
    height: auto;
}

.header p {
    color: whitesmoke;
    font-family: 'Tajawal', sans-serif;
    margin: 15px 0px;
    font-weight: 700;
}

.header button {
    background: transparent;
  border-radius: 999px;
  box-shadow: transparent 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 
  word-break: break-word;
  border: 0;
  margin: 20px 10px 20px 0px;
}

.header button:last-of-type {
    background-color: transparent;
    color: #000;
}

.header button:hover{
    background-color: whitesmoke ;
    color: #000;
}

.header button:last-of-type:hover{
    background-color: transparent;
    color: #fff;
}
.hero_area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../../images/hero-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.sub_page .hero_area {
  background-size: cover;
  background-position: top;
}

.header_section {
  padding: 15px 0;
}

.custom_nav-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.navbar-brand {
  margin: 0;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.User_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 75px;
}

.User_option a {
  color: #ffffff;
  margin-left: 25px;
}

.User_option .form-inline {
  position: relative;
  margin-left: 25px;
}

.User_option .form-inline input {
  display: none;
}

.User_option .form-inline button {
  color: #ffffff;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 0;
  top: 14px;
}

.custom_menu-btn button {
  outline: none;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_menu-btn button img {
  width: 40px;
}

.menu_btn-style {
  position: fixed;
  right: 15px;
  top: 29px;
}


.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}


/* Header.module.css */
.item {
  margin-right: 50px; /* Ajoute une marge à droite à chaque élément */
}
.search-input::placeholder {
  color: black; /* Définir la couleur du placeholder en noir */
}
/* Header.module.css */
.searchForm {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0 auto;
}

.formGroup {
  display: flex;
  align-items: center;
  width: 100%;
}

.searchSelect {
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

.searchInput {
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  font-size: 14px;
  flex: 1;
  padding: 10px;
}

.searchButton {
  border-radius: 30px;
  font-weight: bold;
  background-color: #FA8072;
  padding: 10px 20px;
  margin-left: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  z-index: 999;
}

.suggestionsList {
  list-style: none;
  padding: 0;
}

.suggestionItem {
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}

/* Add these styles to your Header.module.css */
.suggestions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 90%;
  margin: auto;
}

.suggestion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px; /* Space between suggestion items */
}

.suggestionsList {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 50px;
}

.suggestionImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.suggestionDetails {
  text-align: center;
  white-space: normal;
}

.suggestionDetails h3 {
  margin: 5px 0;
}

.suggestionDetails p {
  margin: 3px 0;
}
/* Add these styles to your Header.module.css */
.suggestions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  max-width: 90%;
  margin: auto;
}

.suggestion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px; /* Added margin between suggestion items */
}

.suggestionsList {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
}

.suggestionImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.suggestionDetails {
  text-align: center;
  white-space: normal;
}

.suggestionDetails h3 {
  margin: 5px 0;
}

.suggestionDetails p {
  margin: 3px 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

button.close-button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

button.close-button {
  background-color: salmon;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.searchForm {
  display: flex;
  align-items: center;
}

.searchForm {
  display: flex;
  align-items: center;
}

.formGroup {
  display: flex;
  align-items: center;
}

.searchSelect, .searchInput {
  margin-right: 10px;
}

.searchButton {
  background-color: #FA8072;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.restaurantCard {
  text-align: center;
  padding: 20px;
  cursor: pointer;
  background: transparent;
 
 
}

.restaurantImage {
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
  margin-left: 25%;
}

.restaurantName {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.restaurantAddress, .restaurantCuisine {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}

.restaurantAddress .faMapMarkerAlt, .restaurantCuisine .faUtensils {
  color: #FA8072;
  margin-right: 5px;
}

.closeButton {
  background-color: salmon;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
}



@media (max-width: 768px) {
  .searchForm {
    flex-direction: column;
    padding: 5px;
  }

  .searchButton {
    margin-left:60%;
    margin-top: -40px;
  }
}
