@font-face {
    font-family: 'BodoniSVTTwoSCITCBook';
    src: url('../../fonts/bodoni-svtytwo-sc-itc-tt-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  h1 {
    font-family: 'BodoniSVTTwoSCITCBook', sans-serif;}