.image {
    max-width: 50%;
}

.resend {
    position: absolute;
    Top:-50px;
    left: 50%;
    transform: translateX(-50%);
}

.resetForm div > * {
    margin-bottom: 20px;
}

.input {
    width: 100% !important;
    padding: 0 !important;
}

.background {
    background-color: #FA8072;
}

/* Media queries pour les téléphones */
@media only screen and (max-width: 600px) {
    .resend {
        font-size: 14px;
        bottom: 10px;
    }

    .resetForm div > * {
        margin-bottom: 10px;
    }


}

@media only screen and (max-width: 400px) {
    .resend {
        bottom: 5px;
    }

    .resetForm div > * {
        margin-bottom: 5px;
    }

   
}
 