.home-container {
  text-align: center;
  padding: 0 20px;
}

.home-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh; /* Adjust this value as needed */
  width: 100%; /* Ensure it takes full width */
}

.home-text-section {
  max-width: 70%;
  font-family: var(--font-base);
  color: #DCCA87;
  text-align: center;
}

.primary-heading {
  display: inline-block;
  white-space: nowrap;
  margin-left: 50%;
}

.primary-text {
  margin: 10px 0;
  margin-left: -55550%;
}
.primary-textt {
  margin: 10px 0;
  margin-left: -50%;
}
.address-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.address-icon {
  margin-right: 0.5rem;
  margin-left: -30%;
}

.secondary-button {
  color: white;
  background-color: #FA8072;
  margin-top: 30px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .home-text-section {
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  .home-banner-container {
    padding: 20px;
  }

  .home-text-section {
    max-width: 100%;
  }
  .primary-text {
    font-size: 1.5rem;
    margin-left: 50%;
  }

  .primary-heading {
    font-size: 1.5rem;
    margin-left: 50%;
  }

  .secondary-button {
    width: 100%;
  }
}
