.homeContainer {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.homeBannerContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.homeTextSection {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* To ensure text visibility */
  padding: 20px;
  border-radius: 10px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 100px;
}

.primaryHeading {
  font-size: 3em;
  margin: 0 0 20px;
}

.primaryText {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.addressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.addressIcon {
  margin-right: 10px;
}

.secondaryButton {
  background-color: #DD5746;
  border: none;
  padding: 15px 30px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.secondaryButton:hover {
  background-color: #FF6F61;
}


@media (min-width: 768px) {
  .home-text-section {
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  .home-banner-container {
    padding: 20px;
  }

  .home-text-section {
    max-width: 100%;
  }
  .primary-text {
    font-size: 1.5rem;
    margin-left: 50%;
  }

  .primary-heading {
    font-size: 1.5rem;
    margin-left: 50%;
  }

  .secondary-button {
    width: 100%;
  }
}
